
<div class="form-group row">
    <label class="col-md-3 col-form-label">
        Name your hoard:                
    </label>
    <div class="col-md-6">
        <input type="text"
            class="form-control"
            [(ngModel)]="hoardName"
            placeholder="Encounter"
        >
    </div>
</div>
<div class="form-group row">
    <label class="col-md-3 col-form-label"
    >Select Encounter Level:</label>
    <div class="col-md-3">
        <select class="form-control" required
        [(ngModel)]="budget">
            <option *ngFor="let el of encounterLevelSelect">{{ el.label }}</option>
        </select>
    </div>
</div>




<button
    class="btn btn-success"
    (click)="rollTreasure()"
>Generate!</button>
