<div class="form-group row">
    <label for="encounterLevel" class="col-md-3 col-form-label">
        Name your hoard:                
    </label>
    <div class="col-md-6">
        <input type="text"
            class="form-control"
            [(ngModel)]="hoardName"
            placeholder="Encounter"
            id="encounterLevel"
        >
    </div>
</div>
<div class="form-group row">
    <label for="levelSelect"
        class="col-md-3 col-form-label"
    >Select Encounter Level:</label>
    <div class="col-md-3">
        <select [(ngModel)]="encounterLevel" class="form-control" name="encounterLevel">
            <option *ngFor="let el of encounterLevelSelect" [ngValue]="el">{{ el.label }}</option>
        </select>
    </div>
</div>


<button
    class="btn btn-success"
    (click)="rollTreasure()"
>Generate!</button>
